body {
  color: black;
  background-color: #89aebe;
}
.intro {
  background-image: url("../images/cover2.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 2rem;
}

.text {
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 1.2rem;
}

h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

img {
  margin-bottom: 20px;
}
